<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/main.css' />
    <title>Document</title>
  </head>
  <body>
    <header id='header'>
      <ul id='ulheader'>
        <li class='li-header'><a href='/'>Home</a></li>
        <li class='li-header'><a href='/products'>Productos</a></li>
        <li class='li-header'><a href='/login'>Iniciar Sesión</a></li>
        <li class='li-header'><a href='/api/session/current'>Current</a></li>
        <li class='li-header'><a href='/api/session/logout'>Cerrar Sesión</a></li>
      </ul>
    </header>
    {{{body}}}
  </body>
</html>